@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-secondary: gray-50;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-secondary: gray-900;
  }
}

.dark {
  @theme {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-secondary: gray-900;
  }
}

*,
::before,
::after {
  border-style: solid;
  border-color: inherit;
}
